@import url(http://fonts.googleapis.com/css?family=Strait);
@import url(variables.less);

html, body {
  font-family: 'Strait', sans-serif;
}
header {
  // background: @headerBG;
  border: 1px solid #333333;
  width: 100%;
  background: rgba(0, 0, 0, 0.5) !important;
  color: #000;
  position: fixed;
  top: 0;

  #logo {
    cursor: pointer;
    span.glyphicon {
      position: relative;
      top: .3em;
      font-size: 1.1em;
    }
    span.title {
      display: inline-block;
      position: relative;
      font-size: 1.3em;
      margin-left: 0.7em;
      top: .4em;
    }
  }
  li > a {
    color: @white;

    > span.glyphicon {
      position: relative;
      top: 0.3em;
      font-size: 1.4em;
      margin-top: -0.4em;
    }
  }
  .dropdown span.glyphicon {
    display: inline-block;
    font-size: 1.3em;
    margin-top: -0.3em;
    margin-right: 0.3em;
    position: relative;
    top: 0.2em;
  }
  > .navbar {
    position: fixed !important;
  }
  a.navbar-brand {
    color: @white;
    padding: 2px;
  }
  .navbar-toggle .icon-bar {
    background-color: @white;
  }
}

/* Slide Common */
#slide-1, #slide-2, #slide-3, #slide-4 {
  h2 {
    margin: 0;
    background: transparent;
    color: #ff9966;
  }
  p {
    background: transparent;
    color: #f7f8e9;
  }
}
/* Slide 1 */
#slide-1 {
  .bg {
    background-image:url('../img/bg-sc1.jpg');
  }
  .hsContainer {
    top: 10%;
    .hsContent {
      bottom: 200px;
      top: auto;
      background: rgba(0, 0, 0, 0.5);
      color: @white;
      padding: 15px 20px;
      margin: 0;
      border-radius: 10px;
      left: 8%;
    }
  }
}

/* Slide 2 */
#slide-2 {
  .bg {
    background-image:url('../img/bg-sc2.jpg');
  }
  .hsContainer {
    .hsContent {
      margin-left: -450px;
      position: fixed;
      top: 35%;
      background: rgba(0, 0, 0, 0.5);
      color: @white;
      padding: 15px 20px;
      border-radius: 10px;
    }
  }
}

/* Slide 3 */
#slide-3 {
  .bg {
    background-image:url('../img/bg-sc3.jpg');
  }
  .hsContainer {
    .hsContent {
      margin-left: -239px;
      background: rgba(0, 0, 0, 0.5);
      color: @white;
      padding: 15px 20px;
      border-radius: 10px;
    }
  }
}

/* Slide 4 */
#slide-4 {
  .bg {
    background: #eee;
  }
  .hsContainer {
    .hsContent {
      left: 10%;
      position: fixed;
      top: 100px;
      max-width: 80%;
      ul.sitemap {
        margin: 0;
        padding: 0;
        list-style-type: none;
        li {
          float: left;
          padding-right: 4em;
          h4 {
            font-size: 1.5em;
            color: #ff9966;
          }
          ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            margin-top: 2em;

            li {
              clear: both;
              display: block;
              padding-bottom: 1em;
              a {
                color: #666666;
                text-decoration: none;
                &.designer1 {
                  color:#fff; text-shadow:2px 2px 2px #000;
                }
                &.designer2 {
                  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(1, #60f));
                  background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(1, #f2f));
                  color:transparent;
                  -webkit-background-clip: text;
                  background-clip: text;
                }
              }
              a:hover {
                color: #330000 !important;
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
  }
}
.rainbow {
  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
